/* 

colors:

alert: #EF626C or #E5D352
text: #22181C
link: #6D98BA
bg: #F6E8EA
success: #84DCCF
dark grey: #5C6D70
light grey: #F6F3F6
mid grey: #EDE8ED
light button: #AE98AE
dark button: #937693
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #22181c;
}

.App {
  margin: 20px;
  display: grid;
  grid-template-columns: 400px;
  justify-items: stretch;
}

.btn-group {
  width: 100%;
  margin: 10px;
}

button {
  background-color: #ae98ae;
  padding: 15px 20px;
  border: 0px solid black;
  border-radius: 3px;
}

.left-btn {
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.right-btn {
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.app-btn {
  padding: 2px;
  border-radius: 10px;
  width: 2em;
}

.selected {
  background-color: #937693;
}

form {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr;
}

form button {
  border: 1px solid grey;
  margin-top: 20px;
}

input {
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

h5 {
  font-size: 0.8em;
  line-height: 0.8em;
  margin: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #22181c;
}

li {
  display: grid;
  grid-template-rows: 0.9em 0.9em;
  margin: 4px 0px;
  background-color: #f6f3f6;
  border-radius: 4px;
  padding: 8px;
}

.app-line {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2em;
  gap: 2px;
  margin: 0px;
}

.bottom-line {
  color: #9c819c;
}

a {
  color: #896c89;
  color: #9c819c;
}
